    html,
    body {
        position: relative;
        height: 100%;
    }
    
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }
    
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
    .swiper-slide-one {
        background-image: url(../img/bg.png);
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    #music img:nth-child(2) {
        position: absolute;
        z-index: 99;
        width: 8%;
        right: 2%;
        top: 2%;
        animation: img 5s linear infinite;
    }
    
    #music img:nth-child(1) {
        position: absolute;
        z-index: 99;
        width: 15%;
        right: 0%;
        top: 0%;
    }
    
    @keyframes img {
        0% {
            transform: rotate(0deg)
        }
        100% {
            transform: rotate(360deg)
        }
    }
    
    .swiper-slide-one .top img {
        width: 30%;
        margin-top: 5%;
    }
    
    .swiper-slide-one .main img {
        width: 90%;
        margin-top: 10%;
        position: absolute;
        left: 5%;
    }
    
    .swiper-slide-one .main2 img:nth-child(1) {
        position: absolute;
        left: 40%;
        top: 25%;
        transform: rotate(-30deg)
    }
    
    .swiper-slide-one .main2 img:nth-child(2) {
        position: absolute;
        left: 17%;
        top: 35%;
    }
    
    .swiper-slide-one .main2 img:nth-child(3) {
        position: absolute;
        left: 42%;
        top: 35%;
    }
    
    .swiper-slide-one .main2 img:nth-child(4) {
        position: absolute;
        left: 67%;
        top: 36%;
    }
    
    .swiper-slide-one .bottom img {
        position: absolute;
        top: 36%;
        left: 19%;
    }
    
    .swiper-slide-one .footer img {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    
    .swiper-slide-two {
        background-image: url(../img/bg.png);
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .swiper-slide-two .top img:nth-child(1) {
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0;
    }
    
    .swiper-slide-two .top img:nth-child(2) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 20%;
    }
    
    .swiper-slide-two .top img:nth-child(3) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 38%;
    }
    
    .swiper-slide-two .top img:nth-child(4) {
        width: 7%;
        position: absolute;
        top: 7%;
        left: 56%;
    }
    
    .swiper-slide-two .top img:nth-child(5) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 72%;
    }
    
    .swiper-slide-two .top img:nth-child(6) {
        width: 90%;
        margin-top: 40%;
        position: absolute;
        left: 5%;
    }
    
    .swiper-slide-two .main p {
        width: 70%;
        font-size: 40px;
        line-height: 60px;
        color: #000;
        position: absolute;
        top: 30%;
        left: 15%;
    }
    
    .swiper-slide-two .main span {
        width: 70%;
        font-size: 40px;
        line-height: 60px;
        color: #000;
        position: absolute;
        top: 60%;
        left: 35%;
    }
    
    .swiper-slide-two .footer img {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    
    .swiper-slide-three {
        background-image: url(../img/bg.png);
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .swiper-slide-three .top img:nth-child(1) {
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0;
    }
    
    .swiper-slide-three .top img:nth-child(2) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 20%;
    }
    
    .swiper-slide-three .top img:nth-child(3) {
        width: 9%;
        position: absolute;
        top: 7%;
        left: 38%;
    }
    
    .swiper-slide-three .top img:nth-child(4) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 56%;
    }
    
    .swiper-slide-three .top img:nth-child(5) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 72%;
    }
    
    .swiper-slide-three .top img:nth-child(6) {
        width: 90%;
        margin-top: 40%;
        position: absolute;
        left: 5%;
    }
    
    .swiper-slide-three .top img:nth-child(7) {
        width: 30%;
        margin-top: 50%;
        position: absolute;
        left: 15%;
        border: 5px #fff solid;
        border-radius: 8px;
    }
    
    .swiper-slide-three .top img:nth-child(8) {
        width: 30%;
        margin-top: 50%;
        position: absolute;
        right: 15%;
        border: 5px #fff solid;
        border-radius: 8px;
    }
    
    .swiper-slide-three .top img:nth-child(9) {
        width: 60%;
        margin-top: 80%;
        position: absolute;
        right: 20%;
        border: 5px #fff solid;
        border-radius: 8px;
    }
    
    .swiper-slide-three .footer img {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    
    .swiper-slide-four {
        background-image: url(../img/bg.png);
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .swiper-slide-four .top img:nth-child(1) {
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0;
    }
    
    .swiper-slide-four .top img:nth-child(2) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 20%;
    }
    
    .swiper-slide-four .top img:nth-child(3) {
        width: 9%;
        position: absolute;
        top: 7%;
        left: 38%;
    }
    
    .swiper-slide-four .top img:nth-child(4) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 56%;
    }
    
    .swiper-slide-four .top img:nth-child(5) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 72%;
    }
    
    .swiper-slide-four .top img:nth-child(6) {
        width: 90%;
        margin-top: 40%;
        position: absolute;
        left: 5%;
    }
    
    .swiper-slide-four .main .main1 img:nth-child(1) {
        width: 25%;
        margin-top: 50%;
        position: absolute;
        left: 15%;
    }
    
    .swiper-slide-four .main .main1 img:nth-child(2) {
        width: 45%;
        margin-top: 50%;
        position: absolute;
        left: 45%;
    }
    
    .swiper-slide-four .main .main1 p {
        position: absolute;
        font-size: 50px;
        top: 28%;
        left: 48%;
    }
    
    .swiper-slide-four .main .main2 img:nth-child(1) {
        width: 25%;
        margin-top: 78%;
        position: absolute;
        left: 15%;
    }
    
    .swiper-slide-four .main .main2 img:nth-child(2) {
        width: 45%;
        margin-top: 78%;
        position: absolute;
        left: 45%;
    }
    
    .swiper-slide-four .main .main2 p {
        position: absolute;
        font-size: 50px;
        top: 44%;
        left: 48%;
    }
    
    .swiper-slide-four .main .main3 img:nth-child(1) {
        width: 25%;
        margin-top: 105%;
        position: absolute;
        left: 15%;
    }
    
    .swiper-slide-four .main .main3 img:nth-child(2) {
        width: 45%;
        margin-top: 105%;
        position: absolute;
        left: 45%;
    }
    
    .swiper-slide-four .main .main3 p {
        position: absolute;
        font-size: 50px;
        top: 59%;
        left: 48%;
    }
    
    .swiper-slide-four .footer img {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    
    .swiper-slide-five {
        background-image: url(../img/bg.png);
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .swiper-slide-five .top img:nth-child(1) {
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0;
    }
    
    .swiper-slide-five .top img:nth-child(2) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 20%;
    }
    
    .swiper-slide-five .top img:nth-child(3) {
        width: 9%;
        position: absolute;
        top: 7%;
        left: 38%;
    }
    
    .swiper-slide-five .top img:nth-child(4) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 56%;
    }
    
    .swiper-slide-five .top img:nth-child(5) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 72%;
    }
    
    .swiper-slide-five .top img:nth-child(6) {
        width: 90%;
        margin-top: 40%;
        position: absolute;
        left: 5%;
    }
    
    .swiper-slide-five .main .main1 img {
        position: absolute;
        width: 10%;
        top: 30%;
        left: 30%;
    }
    
    .swiper-slide-five .main .main1 p {
        position: absolute;
        top: 29%;
        left: 45%;
        font-size: 28px;
        color: aliceblue;
    }
    
    .swiper-slide-five .main .main1 span {
        position: absolute;
        top: 32%;
        left: 45%;
        font-size: 28px;
        color: aliceblue;
    }
    
    .swiper-slide-five .main .main2 img {
        position: absolute;
        width: 10%;
        top: 37%;
        left: 30%;
    }
    
    .swiper-slide-five .main .main2 p {
        position: absolute;
        top: 36%;
        left: 45%;
        font-size: 28px;
        color: aliceblue;
    }
    
    .swiper-slide-five .main .main2 span {
        position: absolute;
        top: 39%;
        left: 45%;
        font-size: 28px;
        color: aliceblue;
    }
    
    .swiper-slide-five .main .main3 img {
        position: absolute;
        width: 10%;
        top: 44%;
        left: 30%;
    }
    
    .swiper-slide-five .main .main3 p {
        position: absolute;
        top: 43%;
        left: 45%;
        font-size: 28px;
        color: aliceblue;
    }
    
    .swiper-slide-five .main .main3 span {
        position: absolute;
        top: 46%;
        left: 45%;
        font-size: 28px;
        color: aliceblue;
    }
    
    .swiper-slide-five .main .main4 img {
        position: absolute;
        width: 10%;
        top: 51%;
        left: 30%;
    }
    
    .swiper-slide-five .main .main4 p {
        position: absolute;
        top: 50%;
        left: 45%;
        font-size: 28px;
        color: aliceblue;
    }
    
    .swiper-slide-five .main .main4 span {
        position: absolute;
        top: 53%;
        left: 45%;
        font-size: 28px;
        color: aliceblue;
    }
    
    .swiper-slide-five .main .main5 img {
        position: absolute;
        width: 10%;
        top: 58%;
        left: 30%;
    }
    
    .swiper-slide-five .main .main5 p {
        position: absolute;
        top: 57%;
        left: 45%;
        font-size: 28px;
        color: aliceblue;
    }
    
    .swiper-slide-five .main .main5 span {
        position: absolute;
        top: 60%;
        left: 45%;
        font-size: 28px;
        color: aliceblue;
    }
    
    .swiper-slide-five .main .main6 img {
        position: absolute;
        width: 10%;
        top: 65%;
        left: 30%;
    }
    
    .swiper-slide-five .main .main6 p {
        position: absolute;
        top: 64%;
        left: 45%;
        font-size: 28px;
        color: aliceblue;
    }
    
    .swiper-slide-five .main .main6 span {
        position: absolute;
        top: 67%;
        left: 45%;
        font-size: 28px;
        color: aliceblue;
    }
    
    .swiper-slide-five .footer img {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
    
    .swiper-slide-six {
        background-image: url(../img/bg.png);
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .swiper-slide-six .top img:nth-child(1) {
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0;
    }
    
    .swiper-slide-six .top img:nth-child(2) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 20%;
    }
    
    .swiper-slide-six .top img:nth-child(3) {
        width: 9%;
        position: absolute;
        top: 7%;
        left: 38%;
    }
    
    .swiper-slide-six .top img:nth-child(4) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 56%;
    }
    
    .swiper-slide-six .top img:nth-child(5) {
        width: 10%;
        position: absolute;
        top: 7%;
        left: 72%;
    }
    
    .swiper-slide-six .top img:nth-child(6) {
        width: 90%;
        margin-top: 40%;
        position: absolute;
        left: 5%;
    }
    
    .swiper-slide-six .top img:nth-child(7) {
        width: 20%;
        margin-top: 40%;
        position: absolute;
        right: 5%;
    }
    
    .zzz img {
        width: 20%;
        margin-top: 110%;
        position: absolute;
        right: 10%;
        animation: i 1s linear infinite;
    }
    
    @keyframes i {
        0% {
            transform: rotate(30deg)
        }
        50% {
            transform: rotate(0deg)
        }
        100% {
            transform: rotate(30deg)
        }
    }
.swiper-slide-six .main ul{
    position: absolute;
    top: 30%;
    left: 23%;
}
.swiper-slide-six .main ul li{
    list-style: none;
    margin-bottom: 3%;
}
.swiper-slide-six .main ul li input{
    width:430px;
   height: 70px;
    border-radius: 10px;
    font-size: 30px;
    color: #000;
}

.aaa{
    background-color: #F28615;
}

.swiper-slide-six .footer img {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
.swiper-slide-six1 {
        background-image: url(../img/bg.png);
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
.swiper-slide-six1 img{
    width: 100%;
    height: 100%;
    background-size: 100% 70%;
}
.swiper-slide-six1 p{
    position: absolute;
    color: aliceblue;
    top: 45%;
    left: 12%;
    font-size: 40px;
}
.swiper-slide-six1 span{
    position: absolute;
    color: aliceblue;
    top: 55%;
    left: 30%;
    font-size: 40px;
}